{
  "openapi": "3.0.2",
  "info": {
    "title": "Pavlok API v5",
    "version": "5.0.0"
  },
  "servers": [
    {
      "url": "https://api.pavlok.com",
      "description": "Prod server"
    }
  ],
  "paths": {
    "/api/v5/": {
      "get": {
        "tags": [
          "Home"
        ],
        "summary": "Home:Index",
        "operationId": "home_index_api_v5__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v5/admin/analytics/bulk-sync": {
      "post": {
        "tags": [
          "Admin Analytics"
        ],
        "summary": "Bulk sync analytics data",
        "description": "\n        Bulk sync analytics data by executing the corresponding lambda functions on AWS.\n        Possible analytics:\n            - features-usage:\n                Mandatory parameters to provide for this analytic:\n                    - start_date\n                    - end_date\n                    - usage_days (1 or 7)\n                Request example:\n                {\n                    \"analytics_bulk_sync\": {\n                        \"analytic_name\": \"features-usage\",\n                        \"start_date\": \"2023-07-29\",\n                        \"end_date\": \"2023-07-31\",\n                        \"usage_days\": 7\n                    }\n                }\n\n            - firmwares-adoption:\n                No parameters to provide\n                Request example:\n                {\n                    \"analytics_bulk_sync\": {\n                        \"analytic_name\": \"firmwares-adoption\",\n                    }\n                }\n\n            - engagement-rate:\n                Mandatory parameters to provide for this analytic (Only one date, no bulk sync):\n                    - start_date\n                Request example:\n                {\n                    \"analytics_bulk_sync\": {\n                        \"analytic_name\": \"firmwares-adoption\",\n                        \"start_date\": \"2023-07-29\",\n                    }\n                }\n    ",
        "operationId": "analytics_admin_bulk_sync_api_v5_admin_analytics_bulk_sync_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Body_analytics_admin_bulk_sync_api_v5_admin_analytics_bulk_sync_post",
                "required": [
                  "analytics_bulk_sync"
                ],
                "type": "object",
                "properties": {
                  "analytics_bulk_sync": {
                    "title": "AnalyticsBulkSyncInRequest",
                    "required": [
                      "analyticName"
                    ],
                    "type": "object",
                    "properties": {
                      "analyticName": {
                        "title": "AnalyticsNames",
                        "enum": [
                          "features-usage",
                          "engagement-rate",
                          "firmwares-adoption"
                        ],
                        "type": "string",
                        "description": "An enumeration."
                      },
                      "startDate": {
                        "title": "Startdate",
                        "type": "string",
                        "format": "date",
                        "default": "2024-03-12"
                      },
                      "endDate": {
                        "title": "Enddate",
                        "type": "string",
                        "format": "date",
                        "default": "2024-03-12"
                      },
                      "usageDays": {
                        "title": "Usagedays",
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/analytics/engagement-rate": {
      "get": {
        "tags": [
          "Admin Analytics"
        ],
        "summary": "Get historical engagement rate data",
        "description": "Get historical engagement rate data. An engaged user is a user who has used his device at least once in the last week, and at least once 4 weeks ago.row",
        "operationId": "analytics_admin_engagement_rate_api_v5_admin_analytics_engagement_rate_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "EngagementRatesInResponse",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "EngagementRate",
                        "required": [
                          "date",
                          "updatedAt",
                          "activeUsersPeriodStart",
                          "activeUsersPeriodEnd",
                          "engagedUsers",
                          "lostUsers",
                          "deviceEngagementRate"
                        ],
                        "type": "object",
                        "properties": {
                          "date": {
                            "title": "Date",
                            "type": "string",
                            "format": "date"
                          },
                          "updatedAt": {
                            "title": "Updatedat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "activeUsersPeriodStart": {
                            "title": "Activeusersperiodstart",
                            "type": "integer"
                          },
                          "activeUsersPeriodEnd": {
                            "title": "Activeusersperiodend",
                            "type": "integer"
                          },
                          "engagedUsers": {
                            "title": "Engagedusers",
                            "type": "integer"
                          },
                          "lostUsers": {
                            "title": "Lostusers",
                            "type": "integer"
                          },
                          "deviceEngagementRate": {
                            "title": "Deviceengagementrate",
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/analytics/firmware-adoption": {
      "get": {
        "tags": [
          "Admin Analytics"
        ],
        "summary": "Get firmware usage rate by firmware version",
        "description": "Get firmware usage rate by firmware version",
        "operationId": "analytics_admin_firmware_adoption_api_v5_admin_analytics_firmware_adoption_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "FirmwaresAdoptionInResponse",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "FirmwaresAdoption",
                        "required": [
                          "date",
                          "updatedAt",
                          "firmwaresAdoption"
                        ],
                        "type": "object",
                        "properties": {
                          "date": {
                            "title": "Date",
                            "type": "string",
                            "format": "date"
                          },
                          "updatedAt": {
                            "title": "Updatedat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "hardwareGroup": {
                            "title": "Hardwaregroup",
                            "type": "string"
                          },
                          "firmwaresAdoption": {
                            "title": "Firmwaresadoption",
                            "type": "array",
                            "items": {
                              "title": "FirmwareAdoption",
                              "required": [
                                "firmwareVersion",
                                "adoptersCount"
                              ],
                              "type": "object",
                              "properties": {
                                "firmwareVersion": {
                                  "title": "Firmwareversion",
                                  "type": "string"
                                },
                                "adoptersCount": {
                                  "title": "Adopterscount",
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/analytics/features-usage": {
      "get": {
        "tags": [
          "Admin Analytics"
        ],
        "summary": "Get feature usage over weeks",
        "description": "Get feature usage over weeks",
        "operationId": "analytics_admin_features_usage_api_v5_admin_analytics_features_usage_get",
        "parameters": [
          {
            "description": "Specify how the feature usage will be defined to calculate the stats. Either 'daily' or 'weekly'.",
            "required": false,
            "schema": {
              "title": "Usage Period",
              "enum": [
                "daily",
                "weekly"
              ],
              "type": "string",
              "description": "Specify how the feature usage will be defined to calculate the stats. Either 'daily' or 'weekly'.",
              "default": "daily"
            },
            "name": "usage_period",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "FeaturesUsagesInResponse",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "FeaturesUsage",
                        "required": [
                          "date",
                          "updatedAt"
                        ],
                        "type": "object",
                        "properties": {
                          "date": {
                            "title": "Date",
                            "type": "string",
                            "format": "date"
                          },
                          "updatedAt": {
                            "title": "Updatedat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "allActiveUsersCount": {
                            "title": "Allactiveuserscount",
                            "type": "integer"
                          },
                          "habitFeatureUsersCount": {
                            "title": "Habitfeatureuserscount",
                            "type": "integer"
                          },
                          "pokesFeatureUsersCount": {
                            "title": "Pokesfeatureuserscount",
                            "type": "integer"
                          },
                          "integrationsFeatureUsersCount": {
                            "title": "Integrationsfeatureuserscount",
                            "type": "integer"
                          },
                          "stepsFeatureUsersCount": {
                            "title": "Stepsfeatureuserscount",
                            "type": "integer"
                          },
                          "alarmsFeatureUsersCount": {
                            "title": "Alarmsfeatureuserscount",
                            "type": "integer"
                          },
                          "sleepTrackingFeatureUsersCount": {
                            "title": "Sleeptrackingfeatureuserscount",
                            "type": "integer"
                          },
                          "timersFeatureUsersCount": {
                            "title": "Timersfeatureuserscount",
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/analytics/reviews": {
      "get": {
        "tags": [
          "Admin Analytics"
        ],
        "summary": "Get reviews with their topics",
        "description": "Get reviews with their topics for the given date range.",
        "operationId": "analytics_admin_reviews_api_v5_admin_analytics_reviews_get",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Start Date",
              "type": "string",
              "format": "date"
            },
            "name": "start_date",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "End Date",
              "type": "string",
              "format": "date"
            },
            "name": "end_date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ReviewsInResponse",
                  "required": [
                    "reviews"
                  ],
                  "type": "object",
                  "properties": {
                    "lastUpdate": {
                      "title": "Lastupdate",
                      "type": "string",
                      "format": "date-time"
                    },
                    "reviews": {
                      "title": "Reviews",
                      "type": "array",
                      "items": {
                        "title": "Review",
                        "required": [
                          "originalId",
                          "review",
                          "reviewSource",
                          "topics",
                          "date"
                        ],
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "title": "Createdat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "title": "Updatedat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedAt": {
                            "title": "Deletedat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "title": "Id",
                            "type": "integer",
                            "default": 0
                          },
                          "originalId": {
                            "title": "Originalid",
                            "type": "string"
                          },
                          "title": {
                            "title": "Title",
                            "type": "string"
                          },
                          "review": {
                            "title": "Review",
                            "type": "string"
                          },
                          "reviewSource": {
                            "title": "ReviewSource",
                            "enum": [
                              "ios",
                              "android",
                              "amazon"
                            ],
                            "type": "string",
                            "description": "An enumeration."
                          },
                          "reviewerName": {
                            "title": "Reviewername",
                            "type": "string"
                          },
                          "topics": {
                            "title": "Topics",
                            "type": "array",
                            "items": {
                              "title": "ReviewTopic",
                              "required": [
                                "topic",
                                "impression",
                                "setAt"
                              ],
                              "type": "object",
                              "properties": {
                                "topic": {
                                  "title": "Topic",
                                  "type": "string"
                                },
                                "impression": {
                                  "title": "Impression",
                                  "type": "boolean"
                                },
                                "setBy": {
                                  "title": "Setby",
                                  "type": "string",
                                  "default": "OpenAI"
                                },
                                "setAt": {
                                  "title": "Setat",
                                  "type": "string",
                                  "format": "date-time"
                                }
                              }
                            }
                          },
                          "date": {
                            "title": "Date",
                            "type": "string",
                            "format": "date"
                          },
                          "lastEditedAt": {
                            "title": "Lasteditedat",
                            "type": "string",
                            "format": "date"
                          },
                          "rating": {
                            "title": "Rating",
                            "type": "integer"
                          },
                          "appVersion": {
                            "title": "Appversion",
                            "type": "string"
                          },
                          "deviceModel": {
                            "title": "PavlokDevicesModels",
                            "enum": [
                              "P2",
                              "SC3",
                              "P3",
                              "SCMAX"
                            ],
                            "type": "string",
                            "description": "An enumeration."
                          },
                          "reviewLink": {
                            "title": "Reviewlink",
                            "type": "string"
                          },
                          "developerReply": {
                            "title": "Developerreply",
                            "type": "string"
                          },
                          "rawReview": {
                            "title": "Rawreview",
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/analytics/reviews/{review_id}": {
      "put": {
        "tags": [
          "Admin Analytics"
        ],
        "summary": "Update the topics for a review",
        "description": "Update the topics for a review given its id",
        "operationId": "analytics_admin_reviews_update_api_v5_admin_analytics_reviews__review_id__put",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Review Id",
              "type": "integer"
            },
            "name": "review_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "ReviewTopicsInUpdate",
                "required": [
                  "topics"
                ],
                "type": "object",
                "properties": {
                  "topics": {
                    "title": "Topics",
                    "type": "array",
                    "items": {
                      "title": "ReviewTopicInUpdate",
                      "required": [
                        "topic",
                        "impression"
                      ],
                      "type": "object",
                      "properties": {
                        "topic": {
                          "title": "Topic",
                          "type": "string"
                        },
                        "impression": {
                          "title": "Impression",
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ReviewInResponse",
                  "required": [
                    "review"
                  ],
                  "type": "object",
                  "properties": {
                    "review": {
                      "title": "Review",
                      "required": [
                        "originalId",
                        "review",
                        "reviewSource",
                        "topics",
                        "date"
                      ],
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "title": "Createdat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "title": "Updatedat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "deletedAt": {
                          "title": "Deletedat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "id": {
                          "title": "Id",
                          "type": "integer",
                          "default": 0
                        },
                        "originalId": {
                          "title": "Originalid",
                          "type": "string"
                        },
                        "title": {
                          "title": "Title",
                          "type": "string"
                        },
                        "review": {
                          "title": "Review",
                          "type": "string"
                        },
                        "reviewSource": {
                          "title": "ReviewSource",
                          "enum": [
                            "ios",
                            "android",
                            "amazon"
                          ],
                          "type": "string",
                          "description": "An enumeration."
                        },
                        "reviewerName": {
                          "title": "Reviewername",
                          "type": "string"
                        },
                        "topics": {
                          "title": "Topics",
                          "type": "array",
                          "items": {
                            "title": "ReviewTopic",
                            "required": [
                              "topic",
                              "impression",
                              "setAt"
                            ],
                            "type": "object",
                            "properties": {
                              "topic": {
                                "title": "Topic",
                                "type": "string"
                              },
                              "impression": {
                                "title": "Impression",
                                "type": "boolean"
                              },
                              "setBy": {
                                "title": "Setby",
                                "type": "string",
                                "default": "OpenAI"
                              },
                              "setAt": {
                                "title": "Setat",
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "date": {
                          "title": "Date",
                          "type": "string",
                          "format": "date"
                        },
                        "lastEditedAt": {
                          "title": "Lasteditedat",
                          "type": "string",
                          "format": "date"
                        },
                        "rating": {
                          "title": "Rating",
                          "type": "integer"
                        },
                        "appVersion": {
                          "title": "Appversion",
                          "type": "string"
                        },
                        "deviceModel": {
                          "title": "PavlokDevicesModels",
                          "enum": [
                            "P2",
                            "SC3",
                            "P3",
                            "SCMAX"
                          ],
                          "type": "string",
                          "description": "An enumeration."
                        },
                        "reviewLink": {
                          "title": "Reviewlink",
                          "type": "string"
                        },
                        "developerReply": {
                          "title": "Developerreply",
                          "type": "string"
                        },
                        "rawReview": {
                          "title": "Rawreview",
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/analytics/ratings": {
      "get": {
        "tags": [
          "Admin Analytics"
        ],
        "summary": "Get ratings across all platforms",
        "description": "Get cumulative ratings along with averages across all platforms for a given date range",
        "operationId": "analytics_admin_ratings_api_v5_admin_analytics_ratings_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Sources",
              "minLength": 1,
              "type": "array",
              "items": {
                "minLength": 1,
                "type": "string"
              }
            },
            "name": "sources",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Start Date",
              "type": "string",
              "format": "date"
            },
            "name": "start_date",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "End Date",
              "type": "string",
              "format": "date"
            },
            "name": "end_date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "RatingsInResponse",
                  "required": [
                    "ratings"
                  ],
                  "type": "object",
                  "properties": {
                    "lastUpdate": {
                      "title": "Lastupdate",
                      "type": "string",
                      "format": "date-time"
                    },
                    "ratings": {
                      "title": "Ratings",
                      "type": "array",
                      "items": {
                        "title": "Rating",
                        "required": [
                          "date",
                          "ratingSource"
                        ],
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "title": "Createdat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "title": "Updatedat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedAt": {
                            "title": "Deletedat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "title": "Id",
                            "type": "integer",
                            "default": 0
                          },
                          "date": {
                            "title": "Date",
                            "type": "string",
                            "format": "date"
                          },
                          "ratingSource": {
                            "title": "ReviewSource",
                            "enum": [
                              "ios",
                              "android",
                              "amazon"
                            ],
                            "type": "string",
                            "description": "An enumeration."
                          },
                          "productId": {
                            "title": "Productid",
                            "type": "string"
                          },
                          "productName": {
                            "title": "Productname",
                            "type": "string"
                          },
                          "stars1": {
                            "title": "Stars1",
                            "type": "integer"
                          },
                          "stars2": {
                            "title": "Stars2",
                            "type": "integer"
                          },
                          "stars3": {
                            "title": "Stars3",
                            "type": "integer"
                          },
                          "stars4": {
                            "title": "Stars4",
                            "type": "integer"
                          },
                          "stars5": {
                            "title": "Stars5",
                            "type": "integer"
                          },
                          "averageRating": {
                            "title": "Averagerating",
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/ai-chat/messages/start-convo": {
      "post": {
        "tags": [
          "AI Chat"
        ],
        "summary": "Route used to test the ai_chat_starter_service",
        "operationId": "ai_chat_messages_admin_create_non_stream_api_v5_admin_ai_chat_messages_start_convo_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Body_ai_chat_messages_admin_create_non_stream_api_v5_admin_ai_chat_messages_start_convo_post",
                "required": [
                  "message"
                ],
                "type": "object",
                "properties": {
                  "message": {
                    "title": "AiChatMessageInCreate",
                    "type": "object",
                    "properties": {
                      "threadId": {
                        "title": "Threadid",
                        "type": "integer"
                      },
                      "role": {
                        "title": "Role",
                        "type": "string",
                        "description": "Role of the message sender (e.g., user, bot)",
                        "default": "user"
                      },
                      "content": {
                        "title": "Content",
                        "type": "string",
                        "description": "Full message content"
                      },
                      "displayContent": {
                        "title": "Displaycontent",
                        "type": "string",
                        "description": "Message content to be displayed"
                      },
                      "hidden": {
                        "title": "Hidden",
                        "type": "boolean",
                        "description": "Flag to hide/show the message",
                        "default": false
                      },
                      "functionName": {
                        "title": "Functionname",
                        "type": "string",
                        "description": "Tools function name"
                      },
                      "toolCalls": {
                        "title": "Toolcalls",
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "description": "Tool calls"
                      },
                      "toolCallId": {
                        "title": "Toolcallid",
                        "type": "string",
                        "description": "Tool call id"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/ai-chat/messages": {
      "post": {
        "tags": [
          "AI Chat"
        ],
        "summary": "Create a new chat message in a thread",
        "description": "Create a new message in a specific thread.",
        "operationId": "ai_chat_messages_admin_create_api_v5_admin_ai_chat_messages_post",
        "parameters": [
          {
            "description": "The ID of the chat thread",
            "required": true,
            "schema": {
              "title": "Thread Id",
              "type": "integer",
              "description": "The ID of the chat thread"
            },
            "name": "thread_id",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Body_ai_chat_messages_admin_create_api_v5_admin_ai_chat_messages_post",
                "required": [
                  "message"
                ],
                "type": "object",
                "properties": {
                  "message": {
                    "title": "AiChatMessageInCreate",
                    "type": "object",
                    "properties": {
                      "threadId": {
                        "title": "Threadid",
                        "type": "integer"
                      },
                      "role": {
                        "title": "Role",
                        "type": "string",
                        "description": "Role of the message sender (e.g., user, bot)",
                        "default": "user"
                      },
                      "content": {
                        "title": "Content",
                        "type": "string",
                        "description": "Full message content"
                      },
                      "displayContent": {
                        "title": "Displaycontent",
                        "type": "string",
                        "description": "Message content to be displayed"
                      },
                      "hidden": {
                        "title": "Hidden",
                        "type": "boolean",
                        "description": "Flag to hide/show the message",
                        "default": false
                      },
                      "functionName": {
                        "title": "Functionname",
                        "type": "string",
                        "description": "Tools function name"
                      },
                      "toolCalls": {
                        "title": "Toolcalls",
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "description": "Tool calls"
                      },
                      "toolCallId": {
                        "title": "Toolcallid",
                        "type": "string",
                        "description": "Tool call id"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/badges/": {
      "get": {
        "tags": [
          "Admin Badges"
        ],
        "summary": "Get all badges",
        "description": "Get all badges",
        "operationId": "badges_admin_get_all_api_v5_admin_badges__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListOfBadgesInResponse",
                  "required": [
                    "badges"
                  ],
                  "type": "object",
                  "properties": {
                    "badges": {
                      "title": "Badges",
                      "type": "array",
                      "items": {
                        "title": "Badge",
                        "required": [
                          "title",
                          "key"
                        ],
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "title": "Createdat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "title": "Updatedat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedAt": {
                            "title": "Deletedat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "title": "Id",
                            "type": "integer",
                            "default": 0
                          },
                          "title": {
                            "title": "Title",
                            "type": "string"
                          },
                          "key": {
                            "title": "Key",
                            "type": "string"
                          },
                          "description": {
                            "title": "Description",
                            "type": "string"
                          },
                          "image": {
                            "title": "Image",
                            "type": "string"
                          },
                          "imageId": {
                            "title": "Imageid",
                            "type": "integer"
                          },
                          "voltsAction": {
                            "title": "VoltsAction",
                            "required": [
                              "key"
                            ],
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "title": "Createdat",
                                "type": "string",
                                "format": "date-time"
                              },
                              "updatedAt": {
                                "title": "Updatedat",
                                "type": "string",
                                "format": "date-time"
                              },
                              "deletedAt": {
                                "title": "Deletedat",
                                "type": "string",
                                "format": "date-time"
                              },
                              "id": {
                                "title": "Id",
                                "type": "integer",
                                "default": 0
                              },
                              "key": {
                                "title": "Key",
                                "type": "string"
                              },
                              "description": {
                                "title": "Description",
                                "type": "string"
                              },
                              "volts": {
                                "title": "Volts",
                                "type": "integer",
                                "default": 0
                              }
                            },
                            "description": "VoltsAction Model"
                          },
                          "achievedAt": {
                            "title": "Achievedat",
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "description": "Badge model"
                      }
                    }
                  },
                  "description": "Badge list response model"
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Admin Badges"
        ],
        "summary": "Create badge",
        "description": "Create badge",
        "operationId": "badges_admin_create_api_v5_admin_badges__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Body_badges_admin_create_api_v5_admin_badges__post",
                "required": [
                  "badge"
                ],
                "type": "object",
                "properties": {
                  "badge": {
                    "title": "BadgeInCreate",
                    "required": [
                      "title",
                      "key"
                    ],
                    "type": "object",
                    "properties": {
                      "title": {
                        "title": "Title",
                        "type": "string"
                      },
                      "key": {
                        "title": "Key",
                        "minLength": 1,
                        "type": "string"
                      },
                      "description": {
                        "title": "Description",
                        "type": "string"
                      },
                      "image": {
                        "title": "Image",
                        "type": "string"
                      },
                      "voltsActionId": {
                        "title": "Voltsactionid",
                        "type": "integer"
                      }
                    },
                    "description": "Badge schema in create"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadgeInResponse",
                  "required": [
                    "badge"
                  ],
                  "type": "object",
                  "properties": {
                    "badge": {
                      "title": "Badge",
                      "required": [
                        "title",
                        "key"
                      ],
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "title": "Createdat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "title": "Updatedat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "deletedAt": {
                          "title": "Deletedat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "id": {
                          "title": "Id",
                          "type": "integer",
                          "default": 0
                        },
                        "title": {
                          "title": "Title",
                          "type": "string"
                        },
                        "key": {
                          "title": "Key",
                          "type": "string"
                        },
                        "description": {
                          "title": "Description",
                          "type": "string"
                        },
                        "image": {
                          "title": "Image",
                          "type": "string"
                        },
                        "imageId": {
                          "title": "Imageid",
                          "type": "integer"
                        },
                        "voltsAction": {
                          "title": "VoltsAction",
                          "required": [
                            "key"
                          ],
                          "type": "object",
                          "properties": {
                            "createdAt": {
                              "title": "Createdat",
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "title": "Updatedat",
                              "type": "string",
                              "format": "date-time"
                            },
                            "deletedAt": {
                              "title": "Deletedat",
                              "type": "string",
                              "format": "date-time"
                            },
                            "id": {
                              "title": "Id",
                              "type": "integer",
                              "default": 0
                            },
                            "key": {
                              "title": "Key",
                              "type": "string"
                            },
                            "description": {
                              "title": "Description",
                              "type": "string"
                            },
                            "volts": {
                              "title": "Volts",
                              "type": "integer",
                              "default": 0
                            }
                          },
                          "description": "VoltsAction Model"
                        },
                        "achievedAt": {
                          "title": "Achievedat",
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "description": "Badge model"
                    }
                  },
                  "description": "Badge response model"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/badges/get-one/{badge_id}": {
      "get": {
        "tags": [
          "Admin Badges"
        ],
        "summary": "Get badge by id",
        "description": "Get badge by id",
        "operationId": "badges_admin_get_by_id_api_v5_admin_badges_get_one__badge_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Badge Id",
              "type": "integer"
            },
            "name": "badge_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadgeInResponse",
                  "required": [
                    "badge"
                  ],
                  "type": "object",
                  "properties": {
                    "badge": {
                      "title": "Badge",
                      "required": [
                        "title",
                        "key"
                      ],
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "title": "Createdat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "title": "Updatedat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "deletedAt": {
                          "title": "Deletedat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "id": {
                          "title": "Id",
                          "type": "integer",
                          "default": 0
                        },
                        "title": {
                          "title": "Title",
                          "type": "string"
                        },
                        "key": {
                          "title": "Key",
                          "type": "string"
                        },
                        "description": {
                          "title": "Description",
                          "type": "string"
                        },
                        "image": {
                          "title": "Image",
                          "type": "string"
                        },
                        "imageId": {
                          "title": "Imageid",
                          "type": "integer"
                        },
                        "voltsAction": {
                          "title": "VoltsAction",
                          "required": [
                            "key"
                          ],
                          "type": "object",
                          "properties": {
                            "createdAt": {
                              "title": "Createdat",
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "title": "Updatedat",
                              "type": "string",
                              "format": "date-time"
                            },
                            "deletedAt": {
                              "title": "Deletedat",
                              "type": "string",
                              "format": "date-time"
                            },
                            "id": {
                              "title": "Id",
                              "type": "integer",
                              "default": 0
                            },
                            "key": {
                              "title": "Key",
                              "type": "string"
                            },
                            "description": {
                              "title": "Description",
                              "type": "string"
                            },
                            "volts": {
                              "title": "Volts",
                              "type": "integer",
                              "default": 0
                            }
                          },
                          "description": "VoltsAction Model"
                        },
                        "achievedAt": {
                          "title": "Achievedat",
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "description": "Badge model"
                    }
                  },
                  "description": "Badge response model"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/badges/{badge_id}": {
      "put": {
        "tags": [
          "Admin Badges"
        ],
        "summary": "Update badge",
        "description": "Update badge",
        "operationId": "badges_admin_update_api_v5_admin_badges__badge_id__put",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Badge Id",
              "type": "integer"
            },
            "name": "badge_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Body_badges_admin_update_api_v5_admin_badges__badge_id__put",
                "required": [
                  "badge"
                ],
                "type": "object",
                "properties": {
                  "badge": {
                    "title": "BadgeInUpdate",
                    "type": "object",
                    "properties": {
                      "title": {
                        "title": "Title",
                        "type": "string"
                      },
                      "key": {
                        "title": "Key",
                        "minLength": 1,
                        "type": "string"
                      },
                      "description": {
                        "title": "Description",
                        "type": "string"
                      },
                      "image": {
                        "title": "Image",
                        "type": "string"
                      },
                      "voltsActionId": {
                        "title": "Voltsactionid",
                        "type": "integer"
                      }
                    },
                    "description": "Badge schema in update"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadgeInResponse",
                  "required": [
                    "badge"
                  ],
                  "type": "object",
                  "properties": {
                    "badge": {
                      "title": "Badge",
                      "required": [
                        "title",
                        "key"
                      ],
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "title": "Createdat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "title": "Updatedat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "deletedAt": {
                          "title": "Deletedat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "id": {
                          "title": "Id",
                          "type": "integer",
                          "default": 0
                        },
                        "title": {
                          "title": "Title",
                          "type": "string"
                        },
                        "key": {
                          "title": "Key",
                          "type": "string"
                        },
                        "description": {
                          "title": "Description",
                          "type": "string"
                        },
                        "image": {
                          "title": "Image",
                          "type": "string"
                        },
                        "imageId": {
                          "title": "Imageid",
                          "type": "integer"
                        },
                        "voltsAction": {
                          "title": "VoltsAction",
                          "required": [
                            "key"
                          ],
                          "type": "object",
                          "properties": {
                            "createdAt": {
                              "title": "Createdat",
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "title": "Updatedat",
                              "type": "string",
                              "format": "date-time"
                            },
                            "deletedAt": {
                              "title": "Deletedat",
                              "type": "string",
                              "format": "date-time"
                            },
                            "id": {
                              "title": "Id",
                              "type": "integer",
                              "default": 0
                            },
                            "key": {
                              "title": "Key",
                              "type": "string"
                            },
                            "description": {
                              "title": "Description",
                              "type": "string"
                            },
                            "volts": {
                              "title": "Volts",
                              "type": "integer",
                              "default": 0
                            }
                          },
                          "description": "VoltsAction Model"
                        },
                        "achievedAt": {
                          "title": "Achievedat",
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "description": "Badge model"
                    }
                  },
                  "description": "Badge response model"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Admin Badges"
        ],
        "summary": "Delete badge",
        "description": "Delete badge",
        "operationId": "badges_admin_delete_api_v5_admin_badges__badge_id__delete",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Badge Id",
              "type": "integer"
            },
            "name": "badge_id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/badges/add-user-badge": {
      "post": {
        "tags": [
          "Admin Badges"
        ],
        "summary": "Add badge to user",
        "description": "Add badge to user",
        "operationId": "badges_admin_add_user_badge_api_v5_admin_badges_add_user_badge_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Body_badges_admin_add_user_badge_api_v5_admin_badges_add_user_badge_post",
                "required": [
                  "badge"
                ],
                "type": "object",
                "properties": {
                  "badge": {
                    "title": "UserBadgeInCreate",
                    "required": [
                      "badgeKey",
                      "userId"
                    ],
                    "type": "object",
                    "properties": {
                      "badgeKey": {
                        "title": "Badgekey",
                        "type": "string"
                      },
                      "userId": {
                        "title": "Userid",
                        "type": "integer"
                      }
                    },
                    "description": "User Badge schema in create"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadgeInResponse",
                  "required": [
                    "badge"
                  ],
                  "type": "object",
                  "properties": {
                    "badge": {
                      "title": "Badge",
                      "required": [
                        "title",
                        "key"
                      ],
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "title": "Createdat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "title": "Updatedat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "deletedAt": {
                          "title": "Deletedat",
                          "type": "string",
                          "format": "date-time"
                        },
                        "id": {
                          "title": "Id",
                          "type": "integer",
                          "default": 0
                        },
                        "title": {
                          "title": "Title",
                          "type": "string"
                        },
                        "key": {
                          "title": "Key",
                          "type": "string"
                        },
                        "description": {
                          "title": "Description",
                          "type": "string"
                        },
                        "image": {
                          "title": "Image",
                          "type": "string"
                        },
                        "imageId": {
                          "title": "Imageid",
                          "type": "integer"
                        },
                        "voltsAction": {
                          "title": "VoltsAction",
                          "required": [
                            "key"
                          ],
                          "type": "object",
                          "properties": {
                            "createdAt": {
                              "title": "Createdat",
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "title": "Updatedat",
                              "type": "string",
                              "format": "date-time"
                            },
                            "deletedAt": {
                              "title": "Deletedat",
                              "type": "string",
                              "format": "date-time"
                            },
                            "id": {
                              "title": "Id",
                              "type": "integer",
                              "default": 0
                            },
                            "key": {
                              "title": "Key",
                              "type": "string"
                            },
                            "description": {
                              "title": "Description",
                              "type": "string"
                            },
                            "volts": {
                              "title": "Volts",
                              "type": "integer",
                              "default": 0
                            }
                          },
                          "description": "VoltsAction Model"
                        },
                        "achievedAt": {
                          "title": "Achievedat",
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "description": "Badge model"
                    }
                  },
                  "description": "Badge response model"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/badges/get-user-badges": {
      "get": {
        "tags": [
          "Admin Badges"
        ],
        "summary": "Get user badges",
        "description": "Get user badges",
        "operationId": "badges_admin_get_user_badges_api_v5_admin_badges_get_user_badges_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "User Id",
              "type": "integer"
            },
            "name": "user_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListOfBadgesInResponse",
                  "required": [
                    "badges"
                  ],
                  "type": "object",
                  "properties": {
                    "badges": {
                      "title": "Badges",
                      "type": "array",
                      "items": {
                        "title": "Badge",
                        "required": [
                          "title",
                          "key"
                        ],
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "title": "Createdat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "title": "Updatedat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedAt": {
                            "title": "Deletedat",
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "title": "Id",
                            "type": "integer",
                            "default": 0
                          },
                          "title": {
                            "title": "Title",
                            "type": "string"
                          },
                          "key": {
                            "title": "Key",
                            "type": "string"
                          },
                          "description": {
                            "title": "Description",
                            "type": "string"
                          },
                          "image": {
                            "title": "Image",
                            "type": "string"
                          },
                          "imageId": {
                            "title": "Imageid",
                            "type": "integer"
                          },
                          "voltsAction": {
                            "title": "VoltsAction",
                            "required": [
                              "key"
                            ],
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "title": "Createdat",
                                "type": "string",
                                "format": "date-time"
                              },
                              "updatedAt": {
                                "title": "Updatedat",
                                "type": "string",
                                "format": "date-time"
                              },
                              "deletedAt": {
                                "title": "Deletedat",
                                "type": "string",
                                "format": "date-time"
                              },
                              "id": {
                                "title": "Id",
                                "type": "integer",
                                "default": 0
                              },
                              "key": {
                                "title": "Key",
                                "type": "string"
                              },
                              "description": {
                                "title": "Description",
                                "type": "string"
                              },
                              "volts": {
                                "title": "Volts",
                                "type": "integer",
                                "default": 0
                              }
                            },
                            "description": "VoltsAction Model"
                          },
                          "achievedAt": {
                            "title": "Achievedat",
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "description": "Badge model"
                      }
                    }
                  },
                  "description": "Badge list response model"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "Errors",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "RWAPIKeyHeader": []
          }
        ]
      }
    },
    "/api/v5/admin/banners/all": {
      "get": {
        "tags": [
          "Admin Banners"
        ],
        "summary": "Get all banners",
        "description": "Get all banners for admin dashboard",
        "operationId": "banners_admin_get_all_api_v5_admin_banners_all_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListOfBannersInResponse",
                  "required": [
                    "banners"
                  ],
                  "type": "object",
                  "properties": {
[...]
